# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=Pass@word1

# The development / source database schema to capture migrations from
SOURCE_DB=quality_control

# Comma-separated list of target databases to migrate if no arguments are passed
TARGET_DBS=qc_stage_1,qc_stage_2
